
.thought_images {
    width: 40vw !important;
    height: inherit !important;
    margin: 0 auto;
    display: block;
}

#sharethis-buttons img {
      height: inherit !important;
      width: inherit !important;
    
}


#block-addtoany-addtoany-button {
 position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 6;
}    
    
.field-type-youtube {
    
    display:  block;
    margin-bottom: 30px;
}    


@media (max-width: 700px) {
   .thought_images {
       width: 80vw !important;
   }    
}